apiVersion: v1
kind: Secret
metadata:
  name: ms2-os-service-secret
type: Opaque
stringData:
  DB_USER: oficina
  DB_PASSWORD: oficina
  JWT_SECRET_KEY: replace-me
  MP_ACCESS_TOKEN: replace-me
  MP_WEBHOOK_SECRET: replace-me
